/*--- START NAVBAR  ----*/

.Navbar{
	z-index: 2;
	width: 100vw;
	background: #FFFFFF;
	box-shadow: 0px -3px 5px rgba(186, 186, 186, 0.25);
	position: fixed;
	bottom: 0vh;
	padding-bottom: 0vw;
}
.NavbarIcons{
	padding-left: 4.5vw;
	padding-right: 4.5vw;
	padding-top: 1vw;
	width: 11vw;
	opacity: 0.5;
}

.NavbarButtons{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	-moz-user-select: none;
   	-khtml-user-select: none;
   	-webkit-user-select: none;
}

.NavbarIcons-Sel{
	opacity: 1;
}

/*--- END NAVBAR ----*/



/*--- START FEED ---*/

.NewsFeed{
	padding: 3vw;
	padding-top: 8vw;
}

.SkeletonHolder{
	margin-bottom: 9vw;
	overflow-x: hidden;
	width: 100vw;
	position: static;
	padding: 0vw;
	height: 120vw;
}
.SkeletonOverlay{
	position: absolute;
	width: 94vw;
	margin-left: 3vw;
	height: 120vw;
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 30%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 100%);
	animation: load 1s ease-out infinite;
	background-repeat: no-repeat;
	background-position: -20vw 0vw;

}

@keyframes load {
	from {background-position: -20vw 0vw;}
    to{background-position: 94vw 0vw;}
}

.NewsCardSkeleton{
	position: absolute;
	opacity: 1;
	width: 94vw;
	margin-left: 3vw;
	border-radius: 1.5vw;
	box-shadow: 0px 0px 10px rgba(98, 98, 98, 0.3);
}

.AutoTransSwitch{
	width: 80vw;
	line-height: 10vw;
	text-align: center;
	height: 10vw;
	background-color: #D3D3D3;
	border-radius: 2vw;
	margin-left: 10vw;
	margin-top: 5vw;
}

.AutoTransSwitchSel{
	background: linear-gradient(45deg, #FFAF50, #FFC450);
}
/*--- END FEED ---*/
