/*--- START TITLEBAR ----*/

.TitleBar{
	z-index: 5;
	position: fixed;
	top: 0vw;
	font-family: 'Crimson Text';
	width: 100vw;
	background-color: #ffffff;
	box-shadow: 0px 2px 5px rgba(198, 198, 198, 0.3);
	display: block;
	font-size: 7vw;
	text-align: center;
	color: #565656;
	padding-top: 1.5vw;
	padding-bottom: 1.5vw;
	transition: 0.5s;

	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	-moz-user-select: none;
   	-khtml-user-select: none;
   	-webkit-user-select: none;
}
.TitleBarSmall{
	font-size: 7vw;
	transition: 0.5s;
}
.TitleBack{
	width: 3vw;
	z-index: 6;
	top: 3vw;
	left: 4vw;
	position: absolute;
}
/*--- END TITLEBAR ----*/
