body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size:16px;
	background-color: #FFF8F0;
	font-family: 'Lato', 'Baloo Thambi 2', 'Baloo 2', 'Baloo Bhai 2', 'Baloo Bhaina 2', 'Baloo Chettan 2', 'Baloo Da 2', 'Baloo Tamma 2', 'Baloo Tammudu 2';
}

:root {

  --app-blue-black: #2D373F;

}

.AppTitleBar{
	width: 100vw;
	height: 35vw;
	background-color: var(--app-blue-black);
	position: fixed;
	top: 0vw;
	height: 15vw;
	z-index: 4;
	box-shadow: 0px 5px 10px rgba(50, 50, 50, 0.3);
}

.AppMenuBtn {
	position: absolute;
	width: 5vw;
	margin-top: 3vw;
	margin-left: 2vw;
	padding: 3vw;
	z-index: 3;
}

.AppTitle{
	font-size: 6vw;
	margin: auto;
	text-align: center;
	color: #EFA54E;
	padding-top: 4vw;
	width: 30vw;
	font-family: 'EB Garamond', serif;
	position: absolute;
	width: 40vw;
	left: 27vw;
}

.AppLogo{
	fill: red;
	position: absolute;
	width: 4.5vw;
	margin-left: 1.5vw;
	margin-top: 1.5vw;
}

.SidePane{
	width: 80vw;
	position: absolute;
	background-color: white;
	height: 100vh;
	z-index: 5;
	top: 0vw;
	left:-85vw;
	transition: 0.3s left;
	box-shadow: 7px 0px 7px rgba(50, 50, 50, 0.3);
}

.SidePane-sel{
	left: 0vw;
}

.BgBlock{
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: black;
	opacity: 1;
	z-index: 4;
	left: -100vw;
	opacity: 0;
	top: 0vh;
	transition: 0.3s opacity;
}

.BgBlock-sel{
	left:0vw;
	opacity: 0.5;
}

.SidepaneBack{
	position: absolute;
	width: 3vw;
	top: 5vw;
	left: 5vw;
}


.SettingsBar{
	position: absolute;
	top: 15vw;
	width: 100vw;
	padding-top: 4vw;
	padding-bottom: 4vw;
	z-index: 3;
}

.CurrentBox{
	width: 84vw;
	background-color: white;
	margin: auto;
	border-radius: 5px;
	border: 1.5px #D8D8D8 solid;
	padding: 3vw;
	transition: box-shadow 0.5s;
}

.CurrentBox-sel{
	box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.1);
	border: 1px #9C9C9C solid;
}

.CurrStateName{
	font-family: 'EB Garamond', serif;
	font-size: 5vw;
	color: #707070;
	display: inline;
}

.CurrStateName::after{
	background-image: url('./assets/down.png');
	background-size: 4vw 2vw;
	background-repeat: no-repeat;
    display: inline-block;
    width: 6vw;
    height: 2.3vw;
	background-position: 2vw 0vw;
	content:"";
}
.CurrLangBox{
	display: inline-block;
	float: right;
	background-color: #EFEFEF;
	padding: 1vw;
	margin-top: -0.5vw;
	border-radius:4vw;
	padding-left: 2vw;
}

.LangOpt{
	font-size: 3.5vw;
	display: inline-block;
	width: 5vw;
	height: 6vw;
	line-height: 6vw;
	padding-left: 2vw;
	padding-right: 2vw;
	color: #898989;
	border-radius: 3vw;
	margin-left: -1vw;
	text-align: center;
}

.LangOpt-sel{
	color: white;
	background-color: #EFA54E;
}

.StateListBox{
	width: 90vw;
	margin: auto;
	background-color: white;
	border: 1px #9C9C9C solid;
	border-radius: 5px;
	margin-top: 2vw;
	box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.2);
	opacity: 0;
	max-height: 0vh;
	overflow: hidden;
	transition: max-height 0.5s, opacity 0.2s;
}

.StateListBox-sel{
	opacity: 1;
	max-height: 100vh;
	transition-delay: opacity 0.3s;
}

.StateListItem{
	padding-bottom: 3vw;
	padding-top: 3vw;
	color: #898989;
	padding-left: 3vw;
	padding-right: 3vw;
}

.StateListItem:last-child{
	padding-bottom: 4vw;
}

.StateListItem-sel{
	color: #E07900;
	background-color: #FFF1E0;
}

.StateListName{
	font-family: 'EB Garamond', serif;
	font-size: 5vw;
	display: inline-block;
}

.StateListLang{
	display: inline-block;
	float: right;
	font-size: 3.5vw;
	padding-top: 1vw;
	padding-right: 1.2vw;
	letter-spacing: 2.7vw;
}

.NewsFeed{
	width: 90vw;
	margin-left: 5vw;
	margin-top: 37vw;
	border-top: 1px solid #E2E2E2;
	padding-top: 5vw;
	transition: 0.2s;
}

.NewsFeed-blur{
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-ms-filter: blur(5px);
	-o-filter: blur(5px);
	filter: blur(5px);
}

.NewsCard{
	width: 90vw;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 7px 5px rgba(150, 150, 150, 0.2);
	margin-bottom: 7vw;
}

.NewsCardHeader{
	width: 83vw;
	margin: auto;
	border-bottom: 1px solid #E2E2E2;
	padding-top: 4vw;
	padding-bottom: 2.5vw;
	height: 8vw;
}

.CardRegionIcon{
	width: 6vw;
	display: inline-block;
	vertical-align: middle;
}

.CardHashtagsHolder{
	display: inline-block;
	vertical-align: middle;
}
.CardHashtags{
	display: inline-block;
	font-size: 4vw;
	background-color: #FFF2E3;
	color: #EF8100;
	padding: 1vw;
	padding-left: 2vw;
	padding-right: 2vw;
	border-radius: 5px;
	margin-left: 2vw;
	height: 5vw;
	line-height: 5vw;
}
.CardHashtags::before{
	content:"#";
}
.CardTimeAgo{
	display: inline-block;
	float: right;
	color: #EFA54E;
	font-weight: bold;
	vertical-align: middle;
	height: 7vw;
	line-height: 7vw;
}

.NewsCardBody{
	margin-left: 3.5vw;
	width: 83vw;
	padding-top:3vw;
	padding-bottom:3vw;
	font-size:4vw;
	color: #707070;
	line-height: 7vw;

}

.NewsCardFooter{
	padding-left: 3.5vw;
	padding-right: 3.5vw;
	height: 10vw;
	padding-bottom: 1vw;
}

.NewsCardSource{
	font-size: 3.5vw;
	display: inline-block;
	text-decoration: none;
	color: #276EAF;
	height:8vw;
	line-height: 9vw;
	vertical-align: middle;
}
.NewsCardSource::before{
	content:"SOURCE : ";
	color: #979797;
}

.NewsShareBox{
	display: inline-block;
	float: right;
	vertical-align: middle;
}

.CardShareIcons{
	width: 8vw;
	margin-left: 3vw;
}
