.SettingBtnHolder{
	height: 10vw;
	width: 38vw;
	border-radius: 7vw;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(136, 136, 136, 0.38);
	margin: 0 auto;
	margin-top: 3vw;
	padding-left: 1vw;
	padding-right: 1vw;
	overflow-y: hidden;
}
.SettingBtnHolderFull{
	width: 78vw;
}
.SettingBtn{
	display: inline-block;
	line-height: 11vw;
	font-size: 3.5vw;
	width: 38vw;
	text-align: center;
	color: #888888;
	font-weight: 700;
	-moz-user-select: none;
   	-khtml-user-select: none;
   	-webkit-user-select: none;
}

.SettingDropDownIcon{
	margin-left: 2vw;
	width: 2.3vw;
}

.SettingBtnFull:last-child{
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border-left: 1px solid #DEDEDE;
}

.ScreenBlock{
	width: 100vw;
	height: 100vh;
	background-color: #000000;
	opacity: 0.6;
	position: fixed;
	top: 0vh;
	z-index: 2;
	transition: 0.5s;
}

.PopupMenu{
	position: fixed;
	bottom: -100vh;
	z-index: 4;
	width: 100vw;
	background-color: #ffffff;
	border-radius: 5vw 5vw 0vw 0vw;
	padding-bottom: 5vw;
	-moz-user-select: none;
   	-khtml-user-select: none;
   	-webkit-user-select: none;
	transition: 1s;
}
.PopupMenu-Sel{
	bottom: 0vw;
	transition: 0.3s;
}
.MenuDesc{
	font-size: 3.5vw;
	font-weight: 700;
	color: #DF8E2F;
	padding-top: 5vw;
	padding-bottom: 4vw;
	padding-left: 8vw;
	border-bottom: 1.5px solid #FFD099;
}
.MenuOption{
	padding-left: 8vw;
	padding-right: 8vw;
	font-size: 4.5vw;
	padding-top: 4.5vw;
	padding-bottom: 3.5vw;
	color: #707070;
}
.MenuOption-Sel{
	background-color: #FFF1E0;
}
.MenuOption-Sel .MenuOptionVal{
	color: #DF832F;
}
.MenuOptionVal{
	display: inline-block;
	width: 40vw;
}

.MenuOptValInfoIcon{
	width: 3vw;
	margin-right: 1vw;
}

.MenuOptionDesc{
	display: inline-block;
	width: 40vw;
	font-size: 4vw;
	text-align: right;
	color: #B1B1B1;
	word-spacing: 3vw;
}

.MenuOptFallback{
	padding-top: 4.5vw;
	padding-bottom: 3.5vw;
	font-size: 4vw;
	color: #707070;
	padding-left: 8vw;
}
